<div id="remove">
  {{#if userCart.length}}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each userCart}}

          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td><a
                class="waves-effect waves-light btn remove-btn"
                data-id="{{id}}"
                data-csrf="{{@root.csrf}}"
              >Delete</a></td>
          </tr>

        {{/each}}
      </tbody>
    </table>
    <div class="cart-price">
      <p class="label">Total amount: </p><p class="price">{{cartAmount}}</p>
    </div>

    <form action="/orders" method="post">
      <input name="_csrf" type="hidden" value="{{csrf}}" />
      <button class="btn" type="submit">Order</button>
    </form>
  {{else}}
    <h1>Your Shopping Cart is empty</h1>
  {{/if}}
</div>